/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
}

/* VARIABLES */

:root {

    /* Colores */

    --c-dark: #2d2d2d;
    --c-light: #ffffff;
    --c-bg-cream: #d5d2c8;
    --c-bg-pink: #faf3e9;
    --c-link-orange: #ff7648;

    /* Max-width */

    --max-w-section: 100rem;

    /* Espacios */

    --s-xl: 4.5rem;
    --s-lg: 3rem;
    --s-lg: 2rem;
    --s-md: 1rem;
    --s-sm: 0.625rem;

    /* Fuentes */

    --f-heading-xl: 700 6.25rem "DM Serif Display", serif;
    --f-heading-md: 700 2.1875rem "DM Serif Display", serif;
    --f-body: 300 1.375rem "Inter", sans-serif;
    --f-link: 400 .875rem "Inter", sans-serif; 

    /* Bordes */

    --r-xl: 2rem;
    --r-md: 1rem;
    --r-sm: 5px;
}

/* ENLACES */

a {
    color: var(--c-dark);
    text-decoration: none;

}

/* COMPONENTES */

.section {
    margin: var(--s-xl) 0;
}

.container {
    margin: auto;
    max-width: var(--max-w-section);
    padding: var(--s-xl) var(--s-xl) var(--s-sm)
}

.flex-row {
    display: flex;
    gap: var(--s-md);
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--s-md);
    align-items: center;
}

.text--xl {
    font: var(--f-heading-xl);
}

.text--md {
    font: var(--f-heading-md);
}

.body, p {
    font: var(--f-body);
}

.link {
    font: var(--f-link)
}

.btn {
    padding: var(--s-sm) var(--s-lg);
    border-radius: var(--r-xl);
}

.btn--light {
    color: var(--c-dark);
    background-color: var(--c-light);
}

.btn--dark {
    color: var(--c-light);
    background-color: var(--c-dark);
    transition: background-color .3s;

        &:hover {
            background-color: var(--c-link-orange);
        }

}

/* HEADER */

header {
    background-color: var(--c-bg-cream);
    padding: var(--s-lg);
    position: sticky;
    top: 0;

    &.flex-row {
        justify-content: center;
    }

    & .header__link {

        transition: color .3s;
        text-decoration: underline;

            &:hover {
                color: var(--c-link-orange);
            }
    }

    & nav {
        
        & #menu__btn {
            position: absolute;
            top: 120%;
            right: 20px;
            background: transparent;
            border: none;
            color: var(--c-light);
            transition: color .3s;

            &:hover {
                color: var(--c-link-orange);
            }
        }

        & #menu {
            display: none;
            background-color: var(--c-bg-cream);
            text-align: center;
            position: fixed;
            top: 4rem;
            right: 0;
            left: 0;
            height: 100vh;

            & #close__btn {
                background-color: transparent;
                border: none;
                font-size: 2.25rem;
                align-self: flex-end;
                padding-right: var(--s-md);

                transition: color .3s;

                    &:hover {
                        color: var(--c-link-orange);
                    }
            }

            &.show {
                display: flex;
            }
           
            & ul {
                list-style: none;
                padding-top: 20vh;

                & li a{
                    transition: color .3s;

                    &:hover {
                        color: var(--c-link-orange);
                    }
                }

            }
        }
    }
}

/* HERO */

.hero__section {

    &.section {
        margin: 0;
    }

    & .hero__background {

        background-image: url(../media/hero_bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        min-height: 92vh;

        display: flex;
        justify-content: center;
        align-items: end;

        & .hero__block {
            
            padding: var(--s-lg);

            & img {
                max-width: 1390px;
            }

        }
    }
}

/* ABOUT US */

.about_us__section {

    & .about_us__block {

        padding: 0 15rem;

        & .about_us__img1 {

            align-self: flex-end;
            padding-right: var(--s-xl);
        }

        & .about_us__text-block {

            &.flex-column{
                padding: 2rem;
                gap: 2rem;
            }
            
            & p {
                line-height: 2rem;
                text-align: center;

                & span a {
                    color: var(--c-link-orange);
                }
            }
            
        }

        & .about_us__img2 {

            align-self: flex-start;
            
        }
    }
}

/* AWAKENED WONDERS */

.awk_wonders_section {

    &.section {
        margin: 0;
    }

    background-color: var(--c-bg-pink);

    & .awk_wonders__block {
        
        min-height: 60vh;
        text-align: center;

        &.flex-column {
            justify-content: center;
            align-items: center;
        }

    }
}

/* RUMBLE */

.rumble_section {

    &.section {
        margin: 0;
    }

    background-color: var(--c-bg-cream);

    & .rumble__block {

        & .rumble__block--heading {
            margin-top: 12.5rem;
        }

        & .rumble__block--dates {
            margin-top: 6.25rem;
            padding-bottom: var(--s-lg);
        }

    }
}

/* CONTACT */

.contact__section {

    & .contact__block {


        & .contact__form {

            &.flex-column {
                gap: var(--s-lg);
            }

            & .link{
                margin-top: var(--s-lg);
            }

            & img {
                max-width: 150px;
            }

            & form {

                &.flex-column {
                    align-items: start;
                }

                & input {
                    width: 100%;
                }
            }

        }
    }    
}

/* CARROUSSEL */

.carroussel__section {

    &.section {
        margin: 0;
    }

    background-color: var(--c-bg-pink);

    & .carroussel__block {

        & h2 {
            text-align: center;
        }

        & .carroussel__card {

            display: flex;
            justify-content: space-between;

            margin: auto;
            width: 50%;
            height: 500px;

            padding: var(--s-md);

            & #carroussel__heading {
                transition: opacity .3s;
            }

            & #carroussel__image {
                max-width: 350px;
                border-radius: var(--r-md);

                transition: opacity .3s;
            }

            & #carroussel__description {
                transition: opacity .3s;
            }
        }
    }
}

/* FOOTER */

footer {

    background-color: var(--c-bg-cream);
    padding: var(--s-xl);

    .footer__block {

        gap: var(--s-xl);

        & .footer__list {
            list-style: none;

            & li a {
                transition: color .3s;

                &:hover {
                    color: var(--c-link-orange);
                }
            }
        }

        & .footer__icons {

            & a i {
                background-color: var(--c-dark);
                color: var(--c-light);
                padding: var(--s-sm);
                border-radius: var(--r-sm);
                font-size: x-large;
                transition: opacity .3s;

                &:hover {
                    opacity: .7;
                }
            }
            
        }

        & .footer__links {
            list-style: none;

            & li a {
                transition: color .3s;
                font-weight: 700;
                padding: 0 var(--s-md);

                &:hover {
                    color: var(--c-link-orange);
                }
            }
        }
    }
}
    
















