/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* VARIABLES */

:root {

    /* Colores */

    --c-dark: #2d2d2d;
    --c-light: #ffffff;
    --c-bg-cream: #d5d2c8;
    --c-bg-pink: #faf3e9;
    --c-link-orange: #ff7648;

    /* Max-width */

    --max-w-section: 71.875rem;

    /* Espacios */

    --s-xl: 4.5rem;
    --s-lg: 3rem;
    --s-lg: 2rem;
    --s-md: 1rem;
    --s-sm: 0.625rem;

    /* Fuentes */

    --f-heading-xl: 700 6.25rem "DM Serif Display", serif;
    --f-heading-md: 700 2.1875rem "DM Serif Display", serif;
    --f-body: 400 1.375rem "DM Serif Display", serif;
    --f-link: 700 .875rem "Inter", sans-serif; 
}

/* ENLACES */

a {
    color: var(--c-dark);
    font-weight: bolder;
}

/* COMPONENTES */

.container {
    max-width: var(--max-w-section);
    padding: var(--s-xl) var(--s-xl) var(--s-sm)
}

.flex-row {
    display: flex;
    gap: var(--s-md);
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--s-md);
    align-items: center;
}

.text--xl {
    font: var(--f-heading-xl);
}

.text--md {
    font: var(--f-heading-md);
}

.body, p {
    font: var(--f-body);
}

.link {
    font: var(--f-link)
}

/* HEADER */

header {
    background-color: var(--c-bg-cream);
    padding: var(--s-lg);
    position: sticky;

    &.flex-row {
        justify-content: center;
    }

    & .header__link {

        transition: color .3s;

            &:hover {
                color: var(--c-link-orange);
            }
    }

    & nav {
        


        & #menu__btn {
            position: absolute;
            top: 120%;
            right: 20px;
            background: transparent;
            border: none;
            color: var(--c-light);
            transition: color .3s;

            &:hover {
                color: var(--c-link-orange);
            }
        }
    }
}

/* HERO */

.hero__section {

    & .hero__background {

        background-image: url(../media/hero_bg.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        min-height: 91.2vh;

        display: flex;
        justify-content: center;
        align-items: end;

        & .hero__block {
            
            padding: var(--s-md);

            & img {
                max-width: 1390px;
            }

        }
    }
}




