* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /*Colores*/

    --c-dark: #2d2d2d;
    --c-light: #ffffff;
    --c-bg-cream: #d5d2c8;
    --c-bg-pink: #faf3e9;
    --c-link-orange: #ff7648;
}

img {
    width: 100%
}

a {
    color: var(--c-dark);
    font-weight: bolder;
}